.App {
  background: #4e5559;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1400px;
  text-align: center;
}
h1 {
  padding-top: 25px;
}
.title {
  min-height: 8vh;
  position: relative;
}
.title::after {
  content: "";
  position: absolute;
  background-color: #32383b;
  width: 40%;
  height: 2px;
  bottom: 0;
  left: 30%;
}
.wrapper {
  max-width: 960px;
  min-height: 80vh;
  margin: 0 auto;
}
.text {
  font-size: 20px;
  text-align: left;
  margin: 20px 0;
}
.selectors-wrapper {
  display: flex;
}
.font-style-selector {
  margin-left: 20px;
}
.font-size-selector label,
.font-style-selector label {
  margin-right: 10px;
}
.font-size-selector select,
.font-style-selector select {
  background-color: #b3b7b9;
  border: 1px solid #b3b7b9;
  border-radius: 4px;
  color: #32383b;
  width: 130px;
  outline: none;
  padding: 3px;
}
.options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 10px 0;
}
.options button {
  background-color: #848a8d;
  border: 1px solid #848a8d;
  border-radius: 4px;
  box-shadow: 5px 5px 15px 5px #32383b;
  color: #f3f3f3;
  padding: 10px;
  outline: none;
}
.options button:hover {
  cursor: pointer;
}
.input textarea {
  width: 948px;
  height: 300px;
  background-color: #b3b7b9;
  border: 1px solid #b3b7b9;
  border-radius: 4px;
  box-shadow: 5px 5px 15px 5px #32383b;
  color: #32383b;
  font-family: "Roboto", sans-serif;
  outline: none;
  padding: 4px;
}
.stats {
  text-align: left;
  margin: 15px 0;
}
.stats span {
  margin-right: 30px;
}
.footer {
  min-height: 8vh;
  box-shadow: 0px -5px 10px -5px #32383b;
}
.footer a {
  text-decoration: none;
  color: #f3f3f3;
}
.github-icon {
  width: 2em;
  height: 2em;
  margin: 15px 0;
}
.github-icon:hover {
  color: #b3b7b9;
}

.input textarea:focus,
.options button:focus,
.font-size-selector select:focus,
.font-style-selector select:focus {
  border: 1px solid #32383b;
}
.options button:focus {
  background-color: #676e72;
}
