.App {
  background: #4e5559;
  height: 100vh;
  margin: 0 auto;
  max-width: 1400px;
  text-align: center;
}
h1 {
  padding: 40px;
}
.options {
  padding: 40px;
}
.options button {
  background-color: #b3b7b9;
  border: none;
  border-radius: 4px;
  color: #f3f3f3;
  margin-left: 5px;
  padding: 10px;
}
.options button:hover {
  cursor: pointer;
}
