.App {
  background: #4e5559;
  height: 100vh;
  margin: 0 auto;
  max-width: 1400px;
  text-align: center;
}
h1 {
  padding: 40px;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}
.options {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.options button {
  background-color: #848a8d;
  border: none;
  border-radius: 4px;
  box-shadow: 5px 5px 15px 5px #32383b;
  color: #f3f3f3;
  padding: 10px;
}
.options button:hover {
  cursor: pointer;
}
.input textarea {
  height: 300px;
  width: 954px;
  background-color: #b3b7b9;
  border: 2px solid #848a8d;
  border-radius: 4px;
  box-shadow: 5px 5px 15px 5px #32383b;
  outline: none;
}

.input textarea:focus {
  border: 2px solid #32383b;
}
